@import url('https://fonts.googleapis.com/css2?family=Sora&display=swap');

* {
  font-family: 'Sora', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

a {
  text-decoration: none;
  color: #000;
}

header {
  background-color: #264534;
  margin-bottom: 35px;
  text-align: left;
}

header h1 {
  font-size: 49px;
  font-family: 'Creepster', cursive;
  display: inline-block;
  color: #000;
  background-color: #fff;
  padding: 10px 30px;
  border-radius: 10px;
  margin-left: 60px;
}

header a {
  text-decoration: none;
  color: #000;
}

.app {
  text-align: center;
}

.app input {
  font-size: 18px;
  padding: 5px 15px;
  color: #3b3a3a;
}


.results {
  text-align: left;
}

.results ul li {
  display: inline-block;
  margin: 20px;
  vertical-align: top;
}
.results ul li > a {
}

.results ul li .name {
  display: block;
  text-align: center;
  width: 200px;
}

.results a img {
  width: 200px;
}

.quote {
  font-size: 52px;
  color: #7d7a7a;
  max-width: 70%;
  margin: 30px auto;
}

.spinner {
  width: 70px;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
}
